/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: "prenton", 'gill sans', gill-sans, sans-serif;
  background: #fcfdf7 url(../img/bottomLeaves.jpg) left bottom no-repeat;
  background-size: 60%; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

img, video {
  max-width: 100%; }

/* ==========================================================================
   Stylin'
   ========================================================================== */
body {
  font-weight: 300; }

h1, h2, h3 {
  color: #203f72; }

h1 {
  margin-top: 0;
  text-align: center;
  line-height: 1.2; }

h2, h3 {
  margin: 0; }

h3 {
  font-weight: 500; }

p {
  margin: 0 0 1em;
  color: #494954;
  letter-spacing: 0.01em; }
  p a {
    color: inherit;
    transition: all 0.3s ease; }
  p a:hover {
    color: #203f72; }

button {
  font-size: inherit;
  border-radius: 0.5em;
  font-weight: 500; }

.innerWrapper {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 60em; }

main .innerWrapper {
  padding: 4em 1em; }

.pageHeader {
  background: #203f72;
  padding: 0.5em 0; }

.headerLogo {
  max-width: 10em;
  margin: 0.5em 0 1em 0; }

.siteNavToggle {
  background: #fcfdf7;
  color: #203f72;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 0.5em;
  box-shadow: 0 0 0.3em #0a1322; }

.siteNav {
  display: none; }
  .siteNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .siteNav ul li {
      padding: 0.25em 0; }
      .siteNav ul li a {
        color: #fcfdf7;
        text-decoration: none;
        transition: all 0.3s ease; }
      .siteNav ul li a:hover {
        text-decoration: underline; }

main {
  background: url(../img/pageBackground-400.jpg) center top no-repeat;
  background-size: contain; }
  main h1, main h2, main h3, main p {
    text-align: center; }
  main .intro {
    font-size: 1.125em;
    font-weight: 300;
    color: #203f72; }
  main .multiLineTitle {
    max-width: 80%;
    margin: 0 auto 0.3em; }
  main .leaves:after {
    content: url(../img/2leaves.jpg);
    display: block;
    text-align: center;
    margin: 1em auto; }
  main .studioTitle {
    margin: 1em 0 0.5em;
    font-weight: 300;
    font-size: 2em; }
  main .studioArea {
    margin: 3em 0; }
  main .fullWidthImage {
    margin: 2em 0; }

.textOnly main {
  background: #fcfdf7; }

.pageTitle {
  margin-bottom: 0.3em; }

.contactSection .row {
  margin-bottom: 0; }

.map iframe {
  width: 100%;
  height: 50vh;
  margin: 1em 0 2em; }

footer {
  padding: 2em 0 0.5em 0;
  text-align: right; }
  footer p {
    color: #203f72;
    line-height: 1.2;
    margin-top: 0.2em; }

.footerNav ul {
  margin: 2em 0 0;
  padding: 0;
  list-style-type: none; }
  .footerNav ul li {
    font-size: 80%;
    display: block; }
    .footerNav ul li a {
      color: #203f72;
      text-decoration: none;
      margin-left: 1em;
      opacity: 0.7;
      transition: all 0.3s ease; }
    .footerNav ul li a:hover {
      opacity: 1; }

/*----- UNSLIDER -------*/
.unsliderWrapper {
  position: relative; }

.unslider {
  overflow: auto;
  margin: 0;
  padding: 0; }
  .unslider:after {
    display: table;
    clear: both;
    content: ''; }

.unslider-wrap {
  position: relative; }

.unslider-wrap.unslider-carousel > li {
  float: left; }

.unslider-vertical > ul {
  height: 100%; }

.unslider-vertical li {
  float: none;
  width: 100%; }

.unslider-fade {
  position: relative; }

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8; }

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10; }

.unslider li, .unslider ol, .unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none; }

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
  color: #203f72;
  font-weight: 500; }

.unslider-arrow.next {
  left: auto;
  right: 20px; }

.unslider-nav ol {
  list-style: none;
  text-align: center; }

.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer; }

.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default; }

/*---- FORM ----------------------*/
.jotform-form {
  width: 100%; }
  .jotform-form .form-section {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .jotform-form h3 {
    text-align: left; }
  .jotform-form .form-line {
    margin: 0.25em 0; }
  .jotform-form .form-textbox, .jotform-form .form-textarea {
    border: 1px solid #203f72;
    font-size: inherit;
    border-radius: 0.125em;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    padding: 2px 4px; }
  .jotform-form .form-textbox:focus, .jotform-form .form-textarea:focus {
    box-shadow: 0 0 0.5em #366bc2; }
  .jotform-form label {
    color: #494954; }
  .jotform-form button {
    font-family: inherit;
    background: #203f72;
    color: #fcfdf7;
    border: none;
    padding: 0.3em 0.8em;
    margin-top: 1em; }
  .jotform-form button:hover {
    cursor: pointer;
    background: #15294a;
    box-shadow: 0 0.25em 0.4em #203f72; }

@media only screen and (max-width: 50em) {
  main .intro {
    margin: auto;
    max-width: 80%; } }
@media only screen and (min-width: 28em) {
  .innerWrapper {
    margin: 0 auto;
    padding: 0 2em; }

  main .innerWrapper {
    padding: 5em 2em; }

  main {
    padding-top: 2em; } }
@media only screen and (min-width: 42em) {
  html {
    font-size: 1.125em; }

  .pageHeader .innerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }

  .headerLogo {
    margin: 0.5em 0; }

  .siteNavToggle {
    display: none; }

  .siteNav {
    display: block; }
    .siteNav ul li {
      display: inline-block;
      margin-left: 1em; }

  main {
    padding-top: 3em; }
    main .studioArea {
      margin: 3.5em 0; }
    main .leaves:after {
      margin: 2em auto; }

  .jotform-form .form-line {
    margin: 0.5em 0; }

  .textBlock {
    margin: auto;
    max-width: 30em; }

  .row {
    position: relative;
    clear: both; }

  .column {
    *zoom: 1;
    width: 50%;
    float: left; }

  .textColumn {
    padding: 0 1.5em; }

  .row:before, .row:after {
    content: " ";
    display: table; }

  .row:after {
    clear: both; }

  .footerNav ul li {
    display: inline-block; } }
@media only screen and (min-width: 65em) {
  html {
    font-size: 1.25em; }

  main .innerWrapper {
    padding: 7em 2em; }
  main .pageTitle, main .studioTitle {
    font-size: 2.6em; }
  main .studioArea {
    margin: 4em 0; }
  main .textColumn {
    padding: 0 2em; }
  main .leaves:after {
    margin: 3em auto; }
  main .multiLineTitle {
    max-width: 80%; } }
@media only screen and (min-width: 400px) {
  main {
    background: url(../img/pageBackground-700.jpg) center top no-repeat;
    background-size: contain; } }
@media only screen and (min-width: 700px) {
  main {
    background: url(../img/pageBackground-1000.jpg) center top no-repeat;
    background-size: contain; } }
@media only screen and (min-width: 1000px) {
  main {
    background: url(../img/pageBackground-1400.jpg) center top no-repeat;
    background-size: contain; } }
@media only screen and (min-width: 1400px) {
  main {
    background: url(../img/pageBackground-1800.jpg) center top no-repeat;
    background-size: contain; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }
