/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: "prenton", 'gill sans', gill-sans, sans-serif; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

img, video {
  max-width: 100%; }

/* ==========================================================================
   Stylin'
   ========================================================================== */
body {
  background: #fcfdf7;
  font-weight: 300; }

h1, h2, h3 {
  color: #203f72; }

h1 {
  margin-top: 0;
  text-align: center;
  line-height: 1.2; }

h2, h3 {
  margin: 0; }

h3 {
  font-weight: 500; }

p {
  margin: 0 0 1em;
  color: #494954; }

button {
  font-size: inherit;
  border-radius: 0.5em; }

.innerWrapper {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 60em; }

main .innerWrapper {
  padding: 4em 1em; }

.pageHeader {
  background: #203f72;
  padding: 0.5em 0; }

.headerLogo {
  max-width: 10em;
  margin: 0.5em 0 1em 0; }

.siteNavToggle {
  background: #fcfdf7;
  color: #203f72;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 0.5em; }

.siteNav {
  display: none; }
  .siteNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .siteNav ul li {
      padding: 0.25em 0; }
      .siteNav ul li a {
        color: #fcfdf7;
        text-decoration: none; }
      .siteNav ul li a:hover {
        text-decoration: underline; }

main {
  background: url(../img/pageBackground2.jpg) center top no-repeat, url(../img/bottomLeaves.jpg) left bottom no-repeat;
  background-size: contain, 50%; }
  main h1, main h2, main h3, main p {
    text-align: center; }
  main .intro {
    font-size: 1.125em;
    font-weight: 300;
    color: #203f72; }
  main .leaves:after {
    content: url(../img/2leaves.jpg);
    display: block;
    text-align: center;
    margin: 1em auto; }
  main .studioTitle {
    margin: 3em 0 0.5em;
    font-weight: 300;
    font-size: 2em; }
  main .studioArea {
    margin: 3em 0; }

.pageTitle {
  margin-bottom: 0.3em; }

.bandbImage {
  margin: 2em 0; }

.contactSection .row {
  margin-bottom: 0; }

.map iframe {
  width: 100%;
  height: 50vh;
  margin: 1em 0 2em; }

footer {
  padding: 2em 0 0.5em 0;
  background: #203f72; }
  footer p {
    color: #fcfdf7; }
  footer .light {
    font-weight: 300; }

.footerNav ul {
  margin: 2em 0 0;
  padding: 0;
  list-style-type: none; }
  .footerNav ul li {
    font-size: 80%;
    opacity: 0.7;
    display: inline-block; }
    .footerNav ul li a {
      color: #fcfdf7;
      text-decoration: none; }
    .footerNav ul li a:hover {
      text-decoration: underline; }

/*---- FORM ----------------------*/
#container {
  text-align: left;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px; }

#container {
  margin: 0 auto 10px auto; }

form.wufoo {
  margin: 3em 0 0 0;
  padding: 0 0 20px 0;
  position: relative; }

.hide, .cloak div, .cloak span, .likert.cloak tbody, .likert.cloak thead {
  display: none !important; }

.info {
  display: inline-block;
  clear: both; }

.info[class] {
  display: block; }

.hideHeader .info, #payment.hideHeader li.first {
  display: none; }

.info h2 {
  font-weight: normal;
  text-align: left; }

form ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

* html form ul {
  width: 99%;
  zoom: 1; }

form li {
  margin: 0;
  padding: 0.5em 0 0;
  clear: both;
  background-color: transparent;
  position: relative;
  -webkit-transition: background-color 350ms ease-out;
  -moz-transition: background-color 350ms ease-out;
  -o-transition: background-color 350ms ease-out;
  transition: background-color 350ms ease-out; }

form ul:after, form li:after, form li div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html form li {
  height: 1%;
  margin-bottom: -3px; }

* + html form li {
  height: 1%;
  margin-bottom: -3px; }

* html form li div {
  display: inline-block; }

* + html form ul, * + html form li div {
  display: inline-block; }

form li div {
  margin: 0;
  padding: 0;
  color: #203f72; }

form li span {
  margin: 0 .3em 0 0;
  padding: 0;
  float: left;
  color: #444444; }

form li div span {
  margin: 0;
  display: block;
  width: 100%;
  float: left; }

li.twoColumns div span {
  width: 48%;
  margin: 0 5px 0 0; }

li.threeColumns div span {
  width: 30%;
  margin: 0 5px 0 0; }

li.notStacked div span {
  width: auto;
  margin: 0 7px 0 0; }

form li.complex {
  padding-bottom: 0; }

form li.complex div span {
  width: auto;
  margin: 0 .3em 0 0;
  padding-bottom: 12px; }

form li.complex div span.full {
  margin: 0; }

form li.complex div span.left, form li.complex div span.right {
  margin: 0;
  width: 48%; }

form li.complex div span.full input, form li.complex div span.full select, form li.complex div span.left input, form li.complex div span.right input, form li.complex div span.left select, form li.complex div span.right select {
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both !important; }

label span, .section span, p span, .likert span {
  display: inline !important;
  float: none !important; }

form li div label, form li span label {
  margin: 0;
  padding-top: 3px;
  clear: both;
  font-size: 85%;
  line-height: 160%;
  color: #444;
  display: block; }

fieldset {
  display: block;
  border: none;
  margin: 0;
  padding: 0; }

label.desc, legend.desc {
  color: #203f72;
  line-height: 150%;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  white-space: normal;
  width: 100%; }

label.choice {
  display: block;
  cursor: pointer;
  font-size: 100%;
  line-height: 150%;
  margin: -17px 0 0 23px;
  padding: 0 0 5px 0;
  color: #222;
  width: 88%; }

#public input[disabled] + label.choice {
  cursor: default; }

#public input[disabled] + label.choice span {
  color: #777; }

.safari label.choice {
  margin-top: -16px; }

form.rightLabel .desc {
  padding-top: 2px; }

span.symbol {
  font-size: 120%;
  line-height: 135%; }

form li .datepicker {
  float: left;
  margin: .19em 5px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
  cursor: pointer !important; }

form span.req {
  display: inline;
  float: none;
  color: red !important;
  font-weight: bold;
  margin: 0;
  padding: 0; }

form li div label var {
  font-weight: bold;
  font-style: normal; }

form li div label .currently {
  display: none; }

input.text, input.search, input.file, textarea.textarea, select.select {
  color: #333;
  margin: 0;
  padding: 0.25em; }

input.text, input.search, textarea.textarea {
  border: 1px solid #203f72;
  border-radius: 0.25em; }

input.nospin::-webkit-inner-spin-button, input.nospin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

select.select {
  padding: 1px 0 0 0; }

input.search {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-left: 6px; }

input.checkbox, input.radio {
  display: block;
  margin: 4px 0 0 0;
  padding: 0;
  width: 13px;
  height: 13px; }

input.other {
  margin: 0 0 8px 25px; }

.safari select.select {
  font-size: 120% !important;
  margin: 0 0 1px 0; }

* html select.select {
  margin: 1px 0; }

* + html select.select {
  margin: 1px 0; }

.center, form li span.center input.text, form li span.center label, form li.name span label, form li.date input.text, form li.date span label, form li.phone input.text, form li.phone span label, form li.time input.text, form li.time span label {
  text-align: center; }

form li.time select.select {
  margin-left: 5px; }

form li.price .right {
  text-align: right; }

.third {
  width: 32% !important; }

.half {
  width: 48% !important; }

.full {
  width: 100% !important; }

input.small, select.small {
  width: 25%; }

input.medium, select.medium {
  width: 50%; }

input.large, select.large {
  width: 100%; }

.msie[class] select.ieSelectFix {
  width: auto; }

.msie[class] select.ieSelectFix.small {
  min-width: 25%; }

.msie[class] select.ieSelectFix.medium {
  min-width: 50%; }

.msie[class] select.ieSelectFix.large {
  width: 100%; }

textarea.textarea {
  width: 293px;
  min-width: 100%;
  max-width: 100%; }

textarea.small {
  height: 5.5em; }

textarea.medium {
  height: 10em; }

textarea.large {
  height: 20em; }

li.file a {
  color: #222;
  text-decoration: none; }

li.file span {
  display: inline;
  float: none; }

li.file img {
  display: block;
  float: left;
  margin: 0 0 0 -10px;
  padding: 5px 5px 7px 5px; }

li.file .file-size, li.file .file-type {
  color: #666;
  font-size: 85%;
  text-transform: uppercase; }

li.file .file-name {
  display: block;
  padding: 14px 0 0 0;
  color: blue;
  text-decoration: underline; }

li.file .file-delete {
  color: red !important;
  font-size: 85%;
  text-decoration: underline; }

li.file a:hover .file-name {
  color: green !important; }

li.file a:hover .file-name {
  color: green !important; }

form li.buttons {
  width: auto !important;
  position: relative;
  clear: both;
  padding: 10px 1% 10px 1%; }

form li.buttons input {
  font-size: 100%;
  margin-right: 5px; }

input.btTxt {
  padding: 0 7px;
  width: auto;
  overflow: visible; }

.safari input.btTxt {
  font-size: 120%; }

.buttons .marker {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 10px 0 0;
  color: #000;
  width: auto; }

button.link {
  display: inline-block;
  border: none;
  background: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 100%; }

button.link:hover {
  color: green; }

.leftLabel li, .rightLabel li {
  width: 74% !important;
  padding-top: 9px; }

.leftLabel .desc, .rightLabel .desc {
  float: left;
  width: 31%;
  margin: 0 15px 0 0; }

.rightLabel .desc {
  text-align: right; }

.leftLabel li div, .rightLabel li div {
  float: left;
  width: 65%; }

* html .leftLabel li fieldset div, * html .rightLabel li fieldset div {
  float: right; }

* + html .leftLabel li fieldset div, * + html .rightLabel li fieldset div {
  float: right; }

.leftLabel .buttons, .rightLabel .buttons {
  padding-left: 23%; }

.leftLabel .buttons div, .rightLabel .buttons div {
  float: none;
  margin: 0 0 0 20px; }

.leftLabel p.instruct, .rightLabel p.instruct {
  width: 28%;
  margin-left: 5px; }

.leftLabel .altInstruct .instruct, .rightLabel .altInstruct .instruct {
  margin-left: 31% !important;
  padding-left: 15px;
  width: 65%; }

.noI form li, .altInstruct form li {
  width: auto !important; }

.noI .leftLabel .buttons, .noI .rightLabel .buttons {
  padding-left: 31%; }

.noI .leftLabel .buttons div, .noI .rightLabel .buttons div {
  margin: 0 0 0 17px; }

form li.leftHalf, form li.rightHalf {
  width: 47% !important; }

form li.leftThird, form li.middleThird, form li.rightThird {
  width: 30% !important; }

form li.leftFourth, form li.middleFourth, form li.rightFourth {
  width: 23% !important;
  _width: 22% !important; }

form li.leftFifth, form li.middleFifth, form li.rightFifth {
  width: 18% !important;
  _width: 17% !important; }

form li.middleThird {
  clear: none !important;
  float: left;
  margin-left: 2% !important; }

form li.leftFourth, form li.middleFourth, form li.leftFifth, form li.middleFifth {
  clear: none !important;
  float: left; }

form li.rightHalf, form li.rightThird, form li.rightFourth, form li.rightFifth {
  clear: none !important;
  float: right; }

li.leftHalf .small, li.rightHalf .small, li.leftHalf .medium, li.rightHalf .medium, li.leftThird .small, li.middleThird .small, li.rightThird .small, li.leftThird .medium, li.middleThird .medium, li.rightThird .medium, li.leftFourth .medium, li.middleFourth .medium, li.rightFourth .medium, li.leftFourth .small, li.middleFourth .small, li.rightFourth .small, li.leftFifth .medium, li.middleFifth .medium, li.rightFifth .medium, li.leftFifth .small, li.middleFifth .small, li.rightFifth .small {
  width: 100% !important; }

form li.leftHalf, form li.leftThird, form li.leftFourth, form li.leftFifth {
  clear: left !important;
  float: left; }

* html form li.middleFourth {
  margin-left: 1% !important; }

* html form li.middleFifth {
  margin-left: 1% !important; }

/*form li.focused{background-color:#fff7c0}*/
form .instruct {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 45%;
  margin: 0 0 0 8px;
  padding: 8px 10px 10px 10px;
  border: 1px solid #e6e6e6;
  background: #f5f5f5;
  visibility: hidden;
  opacity: 0;
  font-size: 105%;
  -webkit-transition: opacity 350ms ease-out;
  -moz-transition: opacity 350ms ease-out;
  -o-transition: opacity 350ms ease-out;
  transition: opacity 350ms ease-out; }

form .instruct small {
  line-height: 120%;
  font-size: 80%;
  color: #444; }

form li.focused .instruct, form li:hover .instruct {
  left: 100%;
  visibility: visible;
  opacity: 1; }

.altInstruct .instruct, li.leftHalf .instruct, li.rightHalf .instruct, li.leftThird .instruct, li.middleThird .instruct, li.rightThird .instruct, li.leftFourth .instruct, li.middleFourth .instruct, li.rightFourth .instruct, li.leftFifth .instruct, li.middleFifth .instruct, li.rightFifth .instruct, .iphone .instruct {
  visibility: visible;
  position: static;
  margin: 0;
  padding: 6px 0 0 0;
  width: 100%;
  clear: left;
  background: none !important;
  border: none !important;
  font-style: italic;
  opacity: 1; }

.altInstruct p.complex, li.leftHalf p.complex, li.rightHalf p.complex, li.leftThird p.complex, li.middleThird p.complex, li.rightThird p.complex, .iphone p.complex {
  padding: 0 0 9px 0; }

.hideSeconds .seconds, .hideAMPM .ampm, .hideAddr2 .addr2, .hideSecondary #previousPageButton, .hideCents .radix, .hideCents .cents, .hideState .state {
  display: none; }

form li.section {
  clear: both;
  margin: 0;
  padding: 7px 0 0 0;
  width: auto !important;
  position: static; }

form li.section h3 {
  font-weight: normal;
  font-size: 110%;
  line-height: 135%;
  margin: 0 0 3px 0;
  width: auto;
  padding: 12px 1% 0 1%;
  border-top: 1px dotted #ccc; }

form li.first {
  padding: 0; }

form li.first h3 {
  padding: 8px 1% 0 1%;
  border-top: none !important; }

form li.section div {
  display: block;
  width: auto;
  float: none;
  font-size: 85%;
  line-height: 160%;
  margin: 0 0 1em 0;
  padding: 0 1% 0 1%; }

form li.section.scrollText {
  border: 1px solid #dedede;
  height: 150px;
  overflow: auto;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px; }

form li.section.scrollText h3 {
  border: none;
  padding-top: 8px; }

iframe[src="about:blank"] {
  display: none; }

form li.paging-context {
  clear: both;
  border-bottom: 1px dotted #ccc;
  margin: 0 0 7px 0;
  padding: 5px 1% 10px 1%;
  width: auto !important;
  position: static; }

.hideMarkers .marker, .nopagelabel .pgStyle1 b, .nopagelabel .pgStyle2 em {
  display: none !important; }

#errorLi, .error-container {
  width: 99%;
  margin: 15px auto 15px auto;
  background: #fff !important;
  border: 1px solid red;
  text-align: center;
  padding: 1em 0 1em 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

#errorMsgLbl {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 125%;
  color: #DF0000 !important; }

#errorMsg {
  margin: 0 0 2px 0;
  color: #000 !important;
  font-size: 100%; }

#errorMsg b {
  padding: 2px 8px;
  background-color: #FFDFDF !important;
  color: red !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

form li.error {
  display: block !important;
  background-color: #FFDFDF !important;
  margin-bottom: 3px !important; }

form li label.error, form li input.error {
  color: #DF0000 !important;
  font-weight: bold !important; }

form li input.error {
  background: #fff !important;
  border: 2px solid #DF0000 !important; }

form li.error label, form li.error span.symbol {
  color: #000 !important; }

form li.error .desc {
  color: #DF0000 !important; }

form p.error {
  display: none;
  margin: 0 !important;
  padding: 7px 0 0 0 !important;
  line-height: 10px !important;
  font-weight: bold;
  font-size: 11px;
  color: #DF0000 !important;
  clear: both; }

form li.error p.error {
  display: block; }

form li.complex p.error {
  padding: 0 0 9px 0 !important; }

/*# sourceMappingURL=form.css.map */
@media only screen and (min-width: 28em) {
  .innerWrapper {
    margin: 0 auto;
    padding: 0 2em; }

  main .innerWrapper {
    padding: 6em 2em; }

  main {
    padding-top: 2em; } }
@media only screen and (min-width: 42em) {
  html {
    font-size: 1.125em; }

  .pageHeader .innerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }

  .headerLogo {
    margin: 0.5em 0; }

  .siteNavToggle {
    display: none; }

  .siteNav {
    display: block; }
    .siteNav ul li {
      display: inline-block;
      margin-left: 1em; }

  main {
    padding-top: 3em; }
    main .studioArea {
      margin: 3.5em 0; }

  .pageTitle {
    max-width: 15em; }

  .textBlock {
    margin: auto;
    max-width: 30em; }

  .row {
    position: relative;
    clear: both; }

  .column {
    *zoom: 1;
    width: 50%;
    float: left; }

  .textColumn {
    padding: 0 1em; }

  .row:before, .row:after {
    content: " ";
    display: table; }

  .row:after {
    clear: both; }

  form.wufoo {
    margin: 0; } }
@media only screen and (min-width: 65em) {
  html {
    font-size: 1.25em; }

  main .innerWrapper {
    padding: 8em 2em; }
  main .pageTitle, main .studioTitle {
    font-size: 2.6em; }
  main .studioArea {
    margin: 4em 0; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.three-col-grid:after {
  display: table;
  clear: both;
  content: ''; }
